$temperature-0: #52a5ff;
$temperature-1: #48efff;
$temperature-2: #4dff5a;
$temperature-3: #ffe33d;
$temperature-4: #ff9d37;
$temperature-5: #ff5131;
$temperature-6: #ff2c59;

$background-color: darkturquoise;

.widget-klimato {
  background-color: $background-color;

  h1 {
    display: inline-block; vertical-align: middle;
    font-size: 80px;
    &:after { content: '\00b0'; }
  }

  h2 {
    display: inline-block; vertical-align: middle;
    font-size: 120px;
    font-family: 'Climacons-Font';
  }

  h3 {
    width: 100%; margin-top: 10px;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 2px;
  }
}

.klimato-temperature-0 { background-color: $temperature-0; }
.klimato-temperature-1 { background-color: $temperature-1; }
.klimato-temperature-2 { background-color: $temperature-2; }
.klimato-temperature-3 { background-color: $temperature-3; }
.klimato-temperature-4 { background-color: $temperature-4; }
.klimato-temperature-5 { background-color: $temperature-5; }
.klimato-temperature-6 { background-color: $temperature-6; }

.klimato-0:before { content: "\e037"; }
.klimato-1:before { content: "\e009"; }
.klimato-2:before { content: "\e009"; }
.klimato-3:before { content: "\e025"; }
.klimato-4:before { content: "\e025"; }
.klimato-5:before { content: "\e00f"; }
.klimato-6:before { content: "\e015"; }
.klimato-7:before { content: "\e00f"; }
.klimato-8:before { content: "\e00c"; }
.klimato-9:before { content: "\e00c"; }
.klimato-10:before { content: "\e00f"; }
.klimato-11:before { content: "\e006"; }
.klimato-12:before { content: "\e006"; }
.klimato-13:before { content: "\e015"; }
.klimato-14:before { content: "\e018"; }
.klimato-15:before { content: "\e018"; }
.klimato-16:before { content: "\e018"; }
.klimato-17:before { content: "\e012"; }
.klimato-18:before { content: "\e00f"; }
.klimato-19:before { content: "\e01e"; }
.klimato-20:before { content: "\e01b"; }
.klimato-21:before { content: "\e01e"; }
.klimato-22:before { content: "\e01e"; }
.klimato-23:before { content: "\e01e"; }
.klimato-24:before { content: "\e021"; }
.klimato-25:before { content: "\e01b"; }
.klimato-26:before { content: "\e000"; }
.klimato-27:before { content: "\e002"; }
.klimato-28:before { content: "\e001"; }
.klimato-29:before { content: "\e002"; }
.klimato-30:before { content: "\e001"; }
.klimato-31:before { content: "\e02d"; }
.klimato-32:before { content: "\e028"; }
.klimato-33:before { content: "\e001"; }
.klimato-34:before { content: "\e002"; }
.klimato-35:before { content: "\e012"; }
.klimato-36:before { content: "\e028"; }
.klimato-37:before { content: "\e025"; }
.klimato-38:before { content: "\e025"; }
.klimato-39:before { content: "\e025"; }
.klimato-40:before { content: "\e006"; }
.klimato-41:before { content: "\e036"; }
.klimato-42:before { content: "\e036"; }
.klimato-43:before { content: "\e036"; }
.klimato-44:before { content: "\e000"; }
.klimato-45:before { content: "\e025"; }
.klimato-46:before { content: "\e036"; }
.klimato-47:before { content: "\e025"; }
